@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "power";
  src: url("fonts/PowerPassionDemoRegular.ttf");
}
body{
  background: #15141A;
  font-family: 'Montserrat', sans-serif;
}

.font-power{
  font-family: 'power';
}
